.caret {
    margin-right: -8px;
}

.dropdown .caret {
    margin-top: $base-font-size;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background-color: $link-color;
}

#site-menu li {
    font-size: 1rem;
}